:left {
    background-color: rgb(171, 199, 55);
    width: 25%;
    border: solid 1px;
    border-color: black;
    border-radius: 20px;
    margin-left: 300px;
    height: 150px;
    padding: 5px;
}

 :right {
    background-color: rgb(171, 199, 55);
    width: 70%;
    border: solid 1px;
    border-color: black;
    border-radius: 20px;
    margin-left: 500px;
}

h1 {
    color: cadetblue
}